# Ignorar archivos y carpetas específicos
.idea/
.vscode/
node_modules/
composer.phar
.gitignore
# Ignorar archivos que contengan información confidencial
proyectos.txt

# Ignorar archivos generados automáticamente
vendor/

